body {
  font-family: "Sofia Sans";
  background-color: #ffffff;
  color: #232323;
  overflow-x: hidden;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

body.dark-mode {
  background-color: #141416;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.wrap {
  max-width: 1000px;
  width: 100%;
}

.wrap2 {
  max-width: 950px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}
.header .wrap h1 {
  font-size: 32px;
  font-weight: bold;
}
.header .wrap .header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .wrap .header__nav ul li a {
  color: #5b6e80;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
body.dark-mode .header .wrap .header__nav ul li a {
  color: white;
}
body.dark-mode .header .wrap .header__nav ul li a {
  color: white;
}
body.dark-mode .header .wrap .header__nav ul li a:hover {
  color: #6c63ff;
  transform: scale(1.5);
  font-size: 20px;
}
.header .wrap .header__nav ul li a:hover {
  color: #6c63ff;
  transform: scale(1.5);
  font-size: 20px;
}

.header__navBurger {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -3000px;
  background-color: #ffffff;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  width: 100%;
  height: 100%;
}
.header__navBurger ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.header__navBurger ul a {
  font-size: 30px;
  color: black;
  transition: all 0.3s ease-in-out;
}
.header__navBurger ul a:hover {
  color: #6c63ff;
  transform: scale(1.5);
}

body.dark-mode .header__navBurger {
  background-color: #141416;
  border: none;
}
body.dark-mode .header__navBurger a {
  color: white;
}

.header__navBurger.active {
  right: 0;
}
.header__navBurger.active .close {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 50px;
  cursor: pointer;
  color: black;
}
body.dark-mode .header__navBurger.active .close {
  color: white;
}

.burger-icon {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrap2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}
main .wrap2 .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
main .wrap2 .profile .profile__info {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 0.5px solid #232323;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 500px;
  height: 200px;
  height: 200px;
}
body.dark-mode main .wrap2 .profile .profile__info {
  border: 0.5px solid white;
}
main .wrap2 .profile .profile__text {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 24px;
  color: black;
}
main .wrap2 .profile .profile__text h1 {
  font-size: 24px;
}
body.dark-mode main .wrap2 .profile .profile__text {
  color: white;
}
main .wrap2 .profile .profile__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 400px;
  height: 200px;
}
main .wrap2 .profile .profile__actions .lien {
  display: flex;
  gap: 1.5rem;
  height: 90px;
}
main .wrap2 .profile .profile__actions .lien a {
  padding: 1rem 4rem;
  border-radius: 15px;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease-in-out;
}
main .wrap2 .profile .profile__actions .lien a i {
  height: 60px;
  width: 60px;
  font-size: 60px;
}
main .wrap2 .profile .profile__actions .lien a:hover {
  transform: scale(1.05);
}
main .wrap2 .profile .profile__actions .lien .github i {
  color: #742e9c;
}
body.dark-mode main .wrap2 .profile .profile__actions .lien .github i {
  color: white;
}
main .wrap2 .profile .profile__actions .mode-switch {
  width: 100%;
  display: flex;
  border-radius: 15px;
  border: 0.5px solid #ffc300;
  height: 90px;
  padding: 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .wrap2 .profile .profile__actions .mode-switch .jour {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ffc300;
  transition: all 0.3s ease-in-out;
}
main .wrap2 .profile .profile__actions .mode-switch .jour svg {
  width: 50px;
  height: 50px;
}
main .wrap2 .profile .profile__actions .mode-switch .jour svg g {
  stroke: white;
}
main .wrap2 .profile .profile__actions .mode-switch .jour:hover {
  transform: scale(1.02);
}
main .wrap2 .profile .profile__actions .mode-switch .nuit {
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .wrap2 .profile .profile__actions .mode-switch .nuit svg {
  width: 50px;
  height: 50px;
  color: #5b6e80;
}
body.dark-mode main .wrap2 .profile .profile__actions .mode-switch .nuit svg {
  color: white;
}
main .wrap2 .profile .profile__actions .mode-switch .nuit:hover {
  transform: scale(1.02);
}
body.dark-mode main .wrap2 .profile .profile__actions .mode-switch .jour {
  opacity: 0.5;
  background-color: transparent;
}
body.dark-mode main .wrap2 .profile .profile__actions .mode-switch .nuit {
  background-color: #ffc300;
  color: white;
}
main .wrap2 .actions {
  display: flex;
  justify-content: space-between;
  height: 90px;
  flex-wrap: wrap;
}
main .wrap2 .actions a i {
  height: 60px;
  width: 60px;
  font-size: 60px;
}
main .wrap2 .actions .linkedin {
  width: 180px;
  padding: 1rem 4rem;
  border-radius: 15px;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #0066c7;
  transition: all 0.3s ease-in-out;
}
main .wrap2 .actions .linkedin:hover {
  transform: scale(1.05);
}
main .wrap2 .actions .work-btn {
  width: 400px;
  padding: 1rem 4rem;
  border-radius: 15px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.5px solid #232323;
  transition: all 0.3s ease-in-out;
}
body.dark-mode main .wrap2 .actions .work-btn {
  border: 0.5px solid white;
}
main .wrap2 .actions .work-btn:hover {
  transform: scale(1.05);
}
main .wrap2 .actions .music-controls {
  width: 300px;
  padding: 1rem 4rem;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 2rem;
}
main .wrap2 .actions .music-controls a i {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
main .wrap2 .actions .music-controls a i:hover {
  transform: scale(1.2);
}
main .wrap2 .projets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .wrap2 .projets .gauche {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .wrap2 .projets .droite {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .wrap2 .projets .projects__card {
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
main .wrap2 .projets .projects__card .text {
  position: absolute;
  padding: 0rem 1rem;
  color: white;
}
main .wrap2 .projets .projects__card .text h2 {
  font-size: 32px;
  margin-bottom: 0.5rem;
}
main .wrap2 .projets .projects__card .text p {
  font-weight: lighter;
  font-size: 20px;
}
main .wrap2 .projets .projects__card:hover {
  transform: scale(1.05);
}
main .wrap2 .projets #cv-tech .text {
  top: 375px;
  left: 15px;
}
main .wrap2 .projets #votre-projet .text {
  top: 50px;
  left: 15px;
}
main .wrap2 .projets #votre-projet p {
  max-width: 200px;
}
main .wrap2 .projets #onlyvax .text {
  top: 30px;
  left: 15px;
}
main .wrap2 .projets #onlyvax p {
  max-width: 380px;
}
main .wrap2 .projets #garde-enfant {
  height: 308px;
}
main .wrap2 .projets #garde-enfant .text {
  top: 75px;
  left: 15px;
}
main .wrap2 .projets #garde-enfant .text p {
  max-width: 245px;
}
main .wrap2 .skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .wrap2 .skills .skills__icons {
  display: flex;
  gap: 1rem;
}
main .wrap2 .skills .skills__icons img {
  background-color: #e7e7e7;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0rem 1.5rem;
  }
  header .header__nav {
    display: none;
  }
  .burger-icon {
    display: block;
    font-size: 25px;
  }
  main .wrap2 {
    margin-top: 2.5rem;
  }
  main .wrap2 .actions {
    flex-direction: column;
    padding: 0rem 1rem;
    gap: 2rem;
    height: auto;
  }
  main .wrap2 .actions .linkedin {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .wrap2 .actions .work-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90px;
  }
  main .wrap2 .actions .music-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90px;
  }
  main .wrap2 .profile {
    flex-direction: column;
    padding: 0rem 1rem;
  }
  main .wrap2 .profile .profile__info {
    width: 100%;
    justify-content: center;
  }
  main .wrap2 .profile .profile__actions {
    width: 100%;
  }
  main .wrap2 .profile .profile__actions .lien a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .wrap2 .projets {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0rem 1rem;
  }
  main .wrap2 .projets .gauche {
    width: 100%;
    gap: 1rem;
  }
  main .wrap2 .projets .droite {
    width: 100%;
    gap: 1rem;
  }
  main .wrap2 .projets #cv-tech {
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-color: #0095e9;
    width: 100%;
  }
  main .wrap2 .projets #votre-projet {
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-color: #f6ba00;
    width: 100%;
  }
  main .wrap2 .projets #votre-projet .text p {
    max-width: 100%;
  }
  main .wrap2 .projets #onlyvax {
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-color: #47297d;
    width: 100%;
  }
  main .wrap2 .projets #onlyvax .text p {
    max-width: 100%;
  }
  main .wrap2 .projets #garde-enfant {
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-color: #fe9f4a;
    width: 100%;
  }
  main .wrap2 .projets #garde-enfant .text p {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
