@use "variables" as *;
@use "mixins" as *;

body {
  font-family: "Sofia Sans";
  background-color: $background-color;
  color: $primary-color;
  overflow-x: hidden;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

body.dark-mode {
  background-color: $background-color-night;
  color: $white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.wrap {
  max-width: 1000px;
  width: 100%;
}
.wrap2 {
  max-width: 950px;
  width: 100%;
}

.header {
  @include center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    h1 {
      font-size: 32px;
      font-weight: bold;
    }
    .header__nav {
      ul {
        @include center;
        gap: 2rem;
        li {
          a {
            color: $gris;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
          }
          body.dark-mode & {
            a {
              color: white;
            }
          }
          body.dark-mode & {
            a {
              color: white;
            }
            a:hover {
              color: $violet;
              transform: scale(1.5);
              font-size: 20px;
            }
          }
          a:hover {
            color: $violet;
            transform: scale(1.5);
            font-size: 20px;
          }
        }
      }
    }
  }
}

.header__navBurger {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -3000px;
  background-color: $background-color;

  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  width: 100%;
  height: 100%;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    a {
      font-size: 30px;
      color: black;
      transition: all 0.3s ease-in-out;
    }
    a:hover {
      color: $violet;
      transform: scale(1.5);
    }
  }
}

body.dark-mode {
  .header__navBurger {
    background-color: $background-color-night;
    border: none;
    a {
      color: white;
    }
  }
}

.header__navBurger.active {
  right: 0;

  .close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
    color: black;
  }

  body.dark-mode & {
    .close {
      color: white;
    }
  }
}

.burger-icon {
  display: none;
}

main {
  @include center;
  .wrap2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      .profile__info {
        display: flex;
        align-items: center;
        gap: 2rem;
        border: 0.5px solid #232323;
        border-radius: 15px;
        padding: 1rem 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 500px;
        height: 200px;
        height: 200px;
      }

      body.dark-mode & {
        .profile__info {
          border: 0.5px solid white;
        }
      }

      .profile__text {
        display: flex;
        flex-direction: column;
        font-weight: lighter;
        font-size: 24px;
        color: black;
        h1 {
          font-size: 24px;
        }
      }

      body.dark-mode & {
        .profile__text {
          color: white;
        }
      }

      .profile__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        width: 400px;
        height: 200px;
        .lien {
          display: flex;
          gap: 1.5rem;
          height: 90px;

          a {
            padding: 1rem 4rem;
            border-radius: 15px;
            display: block;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: all 0.3s ease-in-out;
            i {
              height: 60px;
              width: 60px;
              font-size: 60px;
            }
          }

          a:hover {
            transform: scale(1.05);
          }
          .github i {
            color: $primary-color;
          }

          body.dark-mode & {
            .github i {
              color: white;
            }
          }
        }
        .mode-switch {
          width: 100%;
          display: flex;
          border-radius: 15px;
          border: 0.5px solid $jaune;
          height: 90px;
          padding: 0.2rem;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

          .jour {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            cursor: pointer;
            background-color: $jaune;
            transition: all 0.3s ease-in-out;
            svg {
              width: 50px;
              height: 50px;
              g {
                stroke: white;
              }
            }
          }

          .jour:hover {
            transform: scale(1.02);
          }

          .nuit {
            width: 100%;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            svg {
              width: 50px;
              height: 50px;
              color: $gris;
            }
          }

          body.dark-mode & {
            .nuit svg {
              color: white;
            }
          }

          .nuit:hover {
            transform: scale(1.02);
          }

          body.dark-mode & {
            .jour {
              opacity: 0.5;
              background-color: transparent;
            }

            .nuit {
              background-color: $jaune;
              color: white;
            }
          }
        }
      }
    }
    .actions {
      display: flex;
      justify-content: space-between;
      height: 90px;
      flex-wrap: wrap;
      a {
        i {
          height: 60px;
          width: 60px;
          font-size: 60px;
        }
      }
      .linkedin {
        width: 180px;
        padding: 1rem 4rem;
        border-radius: 15px;
        display: block;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: #0066c7;
        transition: all 0.3s ease-in-out;
      }
      .linkedin:hover {
        transform: scale(1.05);
      }
      .work-btn {
        width: 400px;
        padding: 1rem 4rem;
        border-radius: 15px;
        display: flex;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 0.5px solid #232323;
        transition: all 0.3s ease-in-out;
      }

      body.dark-mode & {
        .work-btn {
          border: 0.5px solid white;
        }
      }

      .work-btn:hover {
        transform: scale(1.05);
      }
      .music-controls {
        width: 300px;
        padding: 1rem 4rem;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        gap: 2rem;
        a i {
          font-size: 40px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        a i:hover {
          transform: scale(1.2);
        }
      }
    }

    .projets {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .gauche {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .droite {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .projects__card {
        position: relative;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        .text {
          position: absolute;
          padding: 0rem 1rem;
          color: white;
          h2 {
            font-size: 32px;
            margin-bottom: 0.5rem;
          }
          p {
            font-weight: lighter;
            font-size: 20px;
          }
        }
      }
      .projects__card:hover {
        transform: scale(1.05);
      }

      #cv-tech {
        .text {
          top: 375px;
          left: 15px;
        }
      }
      #votre-projet {
        .text {
          top: 50px;
          left: 15px;
        }
        p {
          max-width: 200px;
        }
      }
      #onlyvax {
        .text {
          top: 30px;
          left: 15px;
        }
        p {
          max-width: 380px;
        }
      }
      #garde-enfant {
        height: 308px;
        .text {
          top: 75px;
          left: 15px;
          p {
            max-width: 245px;
          }
        }
      }
    }

    .projet-mobile {
      display: none;
      padding: 0rem 1rem;
      gap: 0.5rem;
      flex-direction: column;
      h1 {
        font-size: 32px;
        padding: 1rem 0rem;
      }
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        outline: none;
        transition: 0.4s;
        border-radius: 15px;
      }

      body.dark-mode & {
        .panel {
          color: white;
          background-color: $background-color-night;
        }
        .github {
          color: white;

          a {
            color: white;
          }
        }
      }

      p {
        padding: 1rem 0rem;
      }

      .github {
        display: flex;
        gap: 0.5rem;
        color: black;
        transition: all 0.3s ease-in-out;
        padding-bottom: 1rem;
        a {
          color: black;
        }
      }
      .github:hover {
        color: $violet;
      }

      .accordion:after {
        content: "\02795"; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }

      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }

      .active,
      .accordion:hover {
        background-color: #ccc;
      }

      .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        // border: 1px solid #ccc;
        // border-radius: 15px;
        transition: max-height 0.2s ease-out;
      }
    }
    .skillss {
      padding-bottom: 2rem;
      .skills {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: 1px solid $primary-color;
        border-radius: 15px;
        padding: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        h1 {
          font-size: 25px;
        }
        &__icons {
          overflow: hidden;
          position: relative;
          width: 100%;

          .carousel-track {
            display: flex;
            gap: 1rem;
            animation: scroll 15s linear infinite;

            .carousel-item {
              background-color: #e7e7e7;
              width: 75px;
              height: 75px;
              border-radius: 15px;
              padding: 1rem;
              flex-shrink: 0;
            }
          }
        }

        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0rem 1.5rem;
    .header__nav {
      display: none;
    }
  }

  .burger-icon {
    display: block;
    font-size: 25px;
  }

  main .wrap2 {
    margin-top: 2.5rem;
    .actions {
      flex-direction: column;
      padding: 0rem 1rem;
      gap: 2rem;
      height: auto;
      .linkedin {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .work-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 90px;
      }
      .music-controls {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 90px;
      }
    }
    .profile {
      flex-direction: column;
      padding: 0rem 1rem;
      .profile__info {
        width: 100%;
        justify-content: center;
      }
      .profile__actions {
        width: 100%;
        .lien a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0rem 0rem;
        }
      }
    }
    .projets {
      display: none;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 0rem 1rem;
      .gauche {
        width: 100%;
        gap: 1rem;
      }
      .droite {
        width: 100%;
        gap: 1rem;
      }

      #cv-tech {
        display: flex;
        justify-content: end;
        border-radius: 15px;
        background-color: #0095e9;
        width: 100%;
      }
      #votre-projet {
        display: flex;
        justify-content: end;
        border-radius: 15px;
        background-color: #f6ba00;
        width: 100%;
        .text {
          p {
            max-width: 100%;
          }
        }
      }
      #onlyvax {
        display: flex;
        justify-content: end;
        border-radius: 15px;
        background-color: #47297d;
        width: 100%;
        .text {
          p {
            max-width: 100%;
          }
        }
      }
      #garde-enfant {
        display: flex;
        justify-content: end;
        border-radius: 15px;
        background-color: #fe9f4a;
        width: 100%;
        .text {
          p {
            max-width: 100%;
          }
        }
      }
    }
    .projet-mobile {
      display: flex;
    }

    .skillss {
      padding: 0rem 1rem;
      padding-bottom: 2rem;
      .skills {
        .carousel-track {
          animation: scroll 7.5s linear infinite;
        }
      }
    }
  }
}
